header {
    padding: 0px;
    font-weight: bold;
    width: 100%;
}
body {
    margin: 5px auto;
    width: 90%;
}
section {
    font-size: .8em;
    float: left;
    width: 80%;
}
article {
    font-size: .8em;
    float: left;
    width: 65%;
}
aside {
    padding: 2%;
    padding-top: 3%;
    float: left;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
nav{
    width: 60%;
    float:right;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: .8em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: #2A5DB0;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}