
/* classe css de la page*/
#res_script{
	border:0;
	background-color:white;
	color:black;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, annÃ©e de publi) */ 
.Rubrique{
	border-bottom: 2px solid #58529f;
}

/*nom du champ*/
.ChampRes {
	display:none;
}

/* classe commune Ã  tous les champs affichÃ©s */ 
.ValeurRes {
	color:black;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
   font-weight:bold;
	color:#58529F;
}
/* classe pour les auteurs */ 
.Auteurs {
}
/* classe des dÃ©tails de publication : une calsse par type */ 
.detail_revue,.detail_conf,.detail_cours,.detail_ouv,.detail_hdr,.detail_these,.detail_autre,.detail_brevet,.detail_rapport,.detail_sans_ref{
}
/* classe pour les rÃ©sumÃ©s */ 
.Debut_du_resume{
}
/* classe pour les doi */ 
.DOI{
}
/* classe pour les identifiants */ 
.Identifiant{
}
/* classe pour les rubriques pour certains type de classement (type de publi, annÃ©e de publi) */ 
.Rubrique{
}
.NoticeRes {
	border-bottom: 0px;
}
.NoticeResAvecVignette {
	border-bottom: 0px;
}

