<!DOCTYPE html>
<html lang="en">

<head>
<!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

    <nav>
                <li>
                    <a href="{{ site.baseurl }}/research">Research</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/publications">Publications</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/seminars">Seminars</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contact">Contact</a>
                </li>
    </nav>


    {{ content }}

</body>
