<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
                        <header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
        	        	<li><a href="/research">Research</a></li>
	        		<li><a href="/publications">Publications</a></li>
		        	<li><a href="/contact">Contact</a></li>
	        		<li><a href="/seminars">Seminars</a></li>
	    		</ul>
			</nav>
			</header>
			
			{{ content }}
			
			<footer>
			    <aside>
	                    <img src="/img/cnrsLogo.jpg"
	                    alt="cnrs logo" style="width:55px;">
	                    </aside>
	                    <aside>
	                    <img src="/img/univLilleLogo.jpg"
	                    alt="univ Lille logo" style="width:130px;"> 
	                    </aside>
	                    <aside>
	                    <img src="/img/cristalLogo.svg"
	                    alt="CRIStAL logo" style="width:150px;">
			    </aside>
	    		</footer>
		</body>
	</html>